<app-px-ion-header>
  <ion-text>
    <h1 style="text-align: center; margin-top: 12px;">{{pokemonName | titlecase}}</h1>
  </ion-text>
</app-px-ion-header>

<ion-content [fullscreen]="true">
  <ion-loading [isOpen]="isLoading" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>
  
  <app-px-ion-refresher [eventRefresh]="getPokemonDetail.bind(this)"></app-px-ion-refresher>

  @if (detail() && !isLoading) {
    <swiper-container [lazy]="true" [pagination]="true" [modules]="swiperModules">
      <swiper-slide *ngFor="let image of pokemonImage()">
        <ion-img
        ionImgDidLoad="true"
        ionImgWillLoad="true" 
        ionError="true"
        src="{{image}}"
        alt="{{pokemonName}}"
      ></ion-img>
      </swiper-slide>
    </swiper-container>
    
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col style="text-align: center;">
          <ion-button [id]="triggerToast" color="danger" shape="round" (onKeyPress)="onRemoveFavorite()"  (click)="onRemoveFavorite()" *ngIf="isAddedFavorite">
            <ion-icon slot="icon-only" style="color: #FFF" name="trash"></ion-icon>
          </ion-button>
          <ion-button [id]="triggerToast" shape="round" (onKeyPress)="onAddFavorite()" (click)="onAddFavorite()" *ngIf="!isAddedFavorite">
            <ion-icon slot="icon-only" style="color: #FFF" name="heart"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-px-ion-toast [trigger]="triggerToast" [message]="messageToast" [duration]="durationToast"></app-px-ion-toast>
  }
</ion-content>
