<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="list">
        <ion-icon name="library"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="detail">
        <ion-icon name="cube-outline"></ion-icon>
        Detail
      </ion-tab-button>
      <ion-tab-button tab="favorite">
        <ion-icon name="bookmarks-outline"></ion-icon>
        Favorite
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
